<div>
  <h1 class="{{this.titleBlock.classNames}}">
    <a href="{{this.titleBlock.link}}" target="_blank" rel="noopener noreferrer">
      {{this.titleBlock.content}}
    </a>
  </h1>
</div>

<figure>
  <img alt="{{this.mainPicture.alt}}" src="{{this.host}}{{this.mainPicture.src}}">
  <figcaption>{{this.mainPicture.caption}}</figcaption>
</figure>